/*--margin--*/
.mt-6 {
  margin-top: 5rem !important;
}

.mt-xs-7,
.mt-sm-7 {
  margin-top: 6.5rem !important;
}

/*-Font-*/
@media (min-width: 992px) {
  .fs-1 {
    font-size: 3.5rem !important;
  }
  .fs-2 {
    font-size: 4rem !important;
  }
}

/*--large-screen--*/
@media (max-width: 992px) {
  /*-to fix the button-menu-*/
  .position-xs-sm-only-fixed {
    position: fixed;
    margin-top: 0;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
  }
  /*-size and stlyle the menu responsive-*/
  .ul-navbar-content {
    background-color: var(--color-3);
    height: 100vh;
    width: 100%;
  }
  /*-to fix the button on the menu-*/
  .button-navbar-fixed {
    color: transparent;
    position: fixed;
    top: 10px;
  }
}

:root {
  --color-1: #A64672;
  /*----Title---*/
  --color-2: #55736D;
  /*----Text---*/
  --color-3: #69BF97;
  /*----Background---*/
  --color-4: #5DA684;
  /*----Background---*/
  --color-5: #8EBFA3;
  /*----Graphics---*/
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/*--Section-Navigation---*/
#section-navigation {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 750px;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

#section-navigation header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-navigation video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  max-height: 750px;
  -o-object-fit: cover;
     object-fit: cover;
}

#section-navigation .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  max-height: 750px;
  background: var(--color-5);
  opacity: 0.5;
}

#section-navigation a.nav-link {
  text-align: center;
}

/*--Section-Eco--*/
#section-eco .background-image {
  position: relative;
  height: 100%;
  max-height: 950px;
}

#section-eco .background-image::before {
  content: "";
  background-image: url(/assets/imagesVsails/fishTurtuleIsland2.jpg);
  background-color: var(--color-1);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  height: 100%;
  max-height: 950px;
}

#section-eco .text {
  position: relative;
}

#section-eco .text::before {
  content: "";
  background-color: var(--color-3);
  border: var(--color-1) solid 2px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 0.5;
  width: 90%;
  max-height: 780px;
  height: 100%;
  position: absolute;
}

#section-eco .block-text {
  text-align: center;
  margin: auto;
  max-height: 755px;
  height: 100%;
  width: 80%;
  position: relative;
}

/*--Section-Lessons--*/
#lessons-top {
  width: 100%;
  background-color: var(--color-3);
}

#lessons-top .title h3 {
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
  font-weight: 700;
  color: var(--color-2);
  width: 100%;
  max-width: 550px;
}

#home-lessons {
  width: 100%;
  background-color: var(--color-3);
  padding-top: 25px;
}

#home-lessons h4 {
  background-color: #fff;
  width: 100%;
  max-width: 550px;
  border-radius: 0px 20px 20px 0px;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-2);
  padding-left: 1%;
}

#home-lessons .list-group-item {
  border: none;
  background-color: var(--color-3);
  list-style-type: disc;
  list-style-position: inside;
  font-size: 1.4rem;
  font-weight: 400;
  display: list-item;
}

#home-lessons span {
  font-weight: 800;
}

#home-lessons h5 {
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
  font-weight: 700;
  color: var(--color-2);
  width: 100%;
  max-width: 550px;
}

/*--Section-Our-Boat--*/
#section-our-boats img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

#section-our-boats h4 {
  font-weight: bold;
  font-size: 1.9rem;
}

#section-our-boats p {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.6rem;
  letter-spacing: -1px;
  line-height: 30px;
}

#section-our-boats .italic-text {
  font-size: 1rem;
  font-style: italic;
  color: #1E5D57;
}

/*--Section-numbers--*/
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter1 {
  -webkit-animation: counter 5s forwards ease-in-out;
          animation: counter 5s forwards ease-in-out;
  counter-reset: num var(--num);
  font: 3rem system-ui;
}

.counter1::after {
  content: counter(num);
}

@-webkit-keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 607;
  }
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 607;
  }
}

.counter2 {
  -webkit-animation: counter2 5s forwards ease-in-out;
          animation: counter2 5s forwards ease-in-out;
  counter-reset: num var(--num);
  font: 3rem system-ui;
}

.counter2::after {
  content: counter(num);
}

@-webkit-keyframes counter2 {
  from {
    --num: 0;
  }
  to {
    --num: 3;
  }
}

@keyframes counter2 {
  from {
    --num: 0;
  }
  to {
    --num: 3;
  }
}

.counter3 {
  -webkit-animation: counter3 2s forwards ease-in-out;
          animation: counter3 2s forwards ease-in-out;
  counter-reset: num var(--num);
  font: 3rem system-ui;
}

.counter3::after {
  content: counter(num);
}

@-webkit-keyframes counter3 {
  from {
    --num: 0;
  }
  to {
    --num: 107;
  }
}

@keyframes counter3 {
  from {
    --num: 0;
  }
  to {
    --num: 107;
  }
}
/*# sourceMappingURL=styles.css.map */