:root {
  --color-1: #A64672;   /*----Title---*/
  --color-2: #55736D;   /*----Text---*/
  --color-3: #69BF97;   /*----Background---*/
  --color-4: #5DA684;   /*----Background---*/
  --color-5: #8EBFA3;   /*----Graphics---*/
}

/* Background colors */
.bg-light {
  background-color: var(--color-2)!important;
  padding: 0 1rem !important;
}
.bg-success {
  background-color: var(--color-3)!important;
}
.btn-primary {
  background-color: var(--color-1)!important;
}

.bg-light #main_title {
  font-size: 24px !important;
}

.bg-light img {
  width: 60px;
}

/*----@MEDIA---*/
@media screen and (max-width: 768px) {
  .our-boats  {
    text-align: center;
}
}


body {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
      }


 /*----NAVBAR-INDEX--------*/
.navbar .navbar-collapse {
  text-align: center;
}

/*---Color-Hover-Navbar---*/
.navbar-dark .navbar-nav .nav-link {
  color: black;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: var(--color-1);
}
/*---End-Color-Hover-Navbar---*/

 .navbar, .navbar img, .navbar #main_title, .icon-bar {
   justify-content: space-around;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

 .navbar-brand {                            
    margin-top: 0px;
    margin-left: 0px;
    z-index: 100;
}

#navbarNav {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.navbar-toggler {
  background-color: grey;
}

/*-----NAVBAR--PAGE---*/
#main_title_page {
  color: rgba(20, 15, 15, 0.719);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(20, 15, 15, 0.719);
}

.navbar-nav {
  text-align: center;
}

.bg-success{
  text-align: center;
}

/*--@MEDIA-NAVBAR-PAGE-*/
@media screen and (min-width: 991px) {
  .bg-success {
    display: flex;
  }
  #main_title_page {
    position: relative;
    margin-top: 30px;
  }
}

/*------END---NAVBAR---*/

/*-----DROPDOWN-MENU----*/
li.dropdown:hover > ul {
  display: block;
}

/*-----SOCIAL-MEDIA-BAR Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3;
}

.icon-bar.hide {
  pointer-events: none;
  opacity: 0;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.instagram {
background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
/*----END-S0CIAL-MEDIA-BAR---*/

/*----MAIN-TITLE----*/
#main_title {
  color: black;
  font-weight: bold;
}      

/*-----MAIN-CONTENT-CARD---*/
#mainCardTop {
  margin-top: 10%;
  margin-bottom: 5%;
}

.card {
  display: flex;
  margin: 15px;
  border: #000 solid 2px;
}

#more{
  display: none;
}

/*---Facbook-comments--*/
element.style {
  display: flex;
}
/*---END MAIN TITTLE----*/

/*-----BANNER IMAGE-----*/
.banner-image {
  background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.3)), url('assets/imagesVsails/accueilVs.jpg');
  background-size: cover;
  background-position: center;
  /*border-radius: 0% 0% 40% 0% / 0% 0% 40% 0%;*/
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 100%);
  z-index: auto;
}
 
  #banner_title {
  font-family: 'Mr Dafoe', Impact, "Arial Black", Verdana, sans-sherif;
  color: black;
  font-weight: bold;
}

/*---BANNER IMAGE PAGE----*/
#banner_title_page {
  position: absolute;
  text-align: center;
  border-bottom: 10px solid #8DF3D8;
  margin-bottom: 7.5rem;
  padding-bottom: 2%;
  font-size: 3rem;
  font-weight: bold;
  color: #1E5D57;
}

.row {
  padding: 0%;
}
/*---END BANNER IMAGE-----*/

/*-----VIDEO------------*/  
  @image: 'http://pancaketheorem.com/stuff/demos/borderimage/wood.png';
  @bgImage:'http://tumodaurbana.com/wp-content/uploads/2013/05/tumodaurbana-expo-dali.jpg';
  @size:200px;
#media-box {
  padding: 0%;
  margin-top: -100px;
  width: 65%;
  /*box-shadow: 80px 80px 80px rgba(6, 6, 7, 0.2);
  padding: 3px;
  border-radius: 5px;
  border: var(--color-5) solid 50px;*/
  overflow: hidden;
  position: relative;
  z-index: 1;
  /*--WOODEN-FRAME-VIDEO--*/
  border-width:15px;
    border-image:url(http://blogrope.com/wp-content/uploads/2013/06/003-wood-melamine-subttle-pattern-background-pat.jpg) 30 30 stretch;
    -moz-border-image: url(http://blogrope.com/wp-content/uploads/2013/06/003-wood-melamine-subttle-pattern-background-pat.jpg) 30 30 stretch;
    -ms-border-image: url(http://blogrope.com/wp-content/uploads/2013/06/003-wood-melamine-subttle-pattern-background-pat.jpg) 30 30 stretch;
    -o-border-image: url(http://blogrope.com/wp-content/uploads/2013/06/003-wood-melamine-subttle-pattern-background-pat.jpg) 30 30 stretch;
    border-style:solid;
}
/*--@MEDIA-VIDEO--*/
@media screen and (min-width: 0px) and (max-width: 549px) {
  #media-box {
    width: 100%;
  }
}
/*----END VIDEO------*/

/*---SECTION-PAGE----*/
.our-boats .row>* {
  color: #1E5D57;
  margin-top: 50px;
}

.our-boats img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.our-boats h4 {
  font-weight: bold;
  font-size: 1.9rem;
}

.our-boats p {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.6rem;
  letter-spacing: -1px;
  line-height: 30px;
  
}

.our-boats .italic-text {
  font-size: 1rem;
  font-style: italic;
  color: #1E5D57;
}

 /*-----FOOTER---------*/
footer {  
  margin-top: 25px;
  /*padding-bottom: 20px;*/
}

#aboutUs img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: #000 solid 1px;
}

.row{
  justify-content: center;
}

/*----Footer-icon-Bar---*/
.footer-icon-bar a {
  display: -webkit-inline-box;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}


/*----------FLAG-FOOTER--------*/
#contactUs img{
  width: 20px;
}

#vietnamFlag{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
/*-----END FOOTER----*/

