:root {
  --color-1: #A64672;   /*----Title---*/
  --color-2: #55736D;   /*----Text---*/
  --color-3: #69BF97;   /*----Background---*/
  --color-4: #5DA684;   /*----Background---*/
  --color-5: #8EBFA3;   /*----Graphics---*/
}

/* Background colors */
.bg-light {
  background-color: var(--color-2)!important;
  padding: 0 1rem !important;
}
.bg-success {
  background-color: var(--color-3)!important;
}
.btn-primary {
  background-color: var(--color-1)!important;
}

.bg-light #main_title {
  font-size: 24px !important;
}

.bg-light img {
  width: 60px;
}


body {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
      }


 /*----NAVBAR---------------*/
.navbar .navbar-collapse {
  text-align: center;
}

 .navbar, .navbar img, .navbar #main_title, .icon-bar {
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

 .navbar-brand {                            
    margin-top: 0px;
    margin-left: 0px;
    z-index: 100;
      }

#navbarNav {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.navbar-toggler {
  background-color: #000;
}


/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3;
}

.icon-bar.hide {
  pointer-events: none;
  opacity: 0;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.instagram {
background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

/*----MAIN-TITLE----*/
#main_title {
  color: black;
  font-weight: bold;
}      

/*-----MAIN-CONTENT-CARD---*/
#mainCardTop {
  margin-top: 10%;
  margin-bottom: 5%;
}

.card {
  display: flex;
  margin: 15px;
  border: #000 solid 2px;
}

#more{
  display: none;
}

/*-----BANNER IMAGE-----*/
.banner-image {
  background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.3)), url('assets/imagesVsails/accueilVs.jpg');
  background-size: cover;
  /*border-radius: 0% 0% 40% 0% / 0% 0% 40% 0%;*/
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 100%);
  z-index: auto;
}
 
  #banner_title {
  font-family: 'Mr Dafoe', Impact, "Arial Black", Verdana, sans-sherif;
  color: black;
  font-weight: bold;
}

/*-----VIDEO------------*/  
  @image: 'http://pancaketheorem.com/stuff/demos/borderimage/wood.png';
  @bgImage:'http://tumodaurbana.com/wp-content/uploads/2013/05/tumodaurbana-expo-dali.jpg';
  @size:200px;
#media-box {
  padding: 0%;
  margin-top: -100px;
  width: 65%;
  /*box-shadow: 80px 80px 80px rgba(6, 6, 7, 0.2);
  padding: 3px;
  border-radius: 5px;
  border: var(--color-5) solid 50px;*/
  overflow: hidden;
  position: relative;
  z-index: 1;
  /*--WOODEN-FRAME-VIDEO--*/
  background:url(@bgImage);
  background-size: cover;
  border: #2e1a12 solid 35px;
  -webkit-border-image: url(@image) 200 stretch;
  -moz-border-image: url(@image) 200 stretch;
  border-image: url(@image) 200 stretch;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
}

 /*-----FOOTER---------*/
footer {  
  margin-top: 25px;
  /*padding-bottom: 20px;*/
}

#aboutUs img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: #000 solid 1px;
}

.row{
  justify-content: center;
}

/*----------FLAG-FOOTER--------*/
#contactUs img{
  width: 20px;
}

#vietnamFlag{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}