@import './variables.scss';


html {
    overflow-x: hidden;
  }
  
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

/*---Navigation---*/
#section-navigation {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 750px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        justify-content: space-between;
        align-items: center;
    }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 750px;
            max-height: 750px;
            object-fit: cover;
        }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 750px;
                max-height: 750px;
                background: var(--color-5);
                opacity: 0.8;
            }
        }
    
  